@import "../../global.scss";

.about{
    height: 100vh;
    display: flex;
    
    margin-top: 100px;

    .right{
        flex: 0.5;

       

            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        
    }

    .left{
        flex: 0.5;padding-left: 20px;

        h2{
            font-size: 40px;
        }

        p{
            font-size: 20px;
            padding: 20px 0;
        }

        button{
            padding: 5px 0;width: 35%;border: 1px solid #1473E6;
        }
    }
}